<div class="screen">
    <div class="title">J</div>
    <div class="title">A</div>
    <div class="title">C</div>
    <div class="title">K</div>
    <div class="title">T</div>
    <div class="title">R</div>
    <div class="title">A</div>
    <div class="title">N</div>
</div>

<section class="viewport">
    <div id="scroll-container" class="scroll-container">
        <div class="content">
            <div class="img-container">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/106114/splash-10.jpg" alt="">
            </div>  
            <div class="img-container">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/106114/splash-14.jpg" alt="">
            </div>  
            <div class="img-container">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/106114/splash-15.jpg" alt="">
            </div>  
            <div class="img-container">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/106114/splash-15.jpg" alt="">
            </div>  
            <div class="img-container">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/106114/splash-16.jpg" alt="">
            </div>  
        </div>
    </div>
</section>